.bg-black{
    background-color: black  !important;
}
.txt-white{
    color: white !important;
}
.btn{
    padding: 20px !important;
    border-radius: 20px  !important;
    font-size: 18px  !important;
    color: white  !important;
    background-color: green  !important;
    border:  none;
}